@page "/"
@model LoginModel
@{
    ViewData["Title"] = "Connexion";
}
<!DOCTYPE html>
<html lang="en">
 <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
</head>
<body class="row bg-gradient-primary">
    <div class="card row col-12"> 
        <div class="card-header card text-center">Se connecter à GPM </div>
            <form id="account" method="post">  
                        <div class="container-fluid mx-auto col-4"><img src="/img/steg.png"/></div>
                        <hr />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-floating">
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                            <label asp-for="Input.Email" class="form-label"></label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-floating">
                            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                            <label asp-for="Input.Password" class="form-label"></label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe" class="form-label"></label>
                            <input class="form-check-input" asp-for="Input.RememberMe" /> 
                            @Html.DisplayNameFor(m => m.Input.RememberMe)     
                        </div>
                        <div>
                            <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Connecter</button>
                        </div>
                        <div>
                            <p><a id="forgot-password" asp-page="./ForgotPassword">Mot de passe oublié ?</a></p>
                            <p><a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Nouveau Utilisateur</a></p>
                            <p><a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Renvoyer un email de confirmation</a></p>
                        </div>
            </form>
    </div>
        
    
    <!-- Bootstrap core JavaScript-->
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="lib/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

</body>
</html>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
